html{
	height: 100%;
}
#child_parent_1{
    display: flex;
    justify-content: center;
}



.child12{
	margin:10px;}
.child123 input{
	
background-color: #5F9EA0;
color:white;


}

body{
	display: flex;
	justify-content: center;
	width:100%;
	height:100%;
	
	background-image: url('./images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg');
	background-position:center ;
	background-size: cover;
	background-repeat: no-repeat;
    
	overflow: visible;
	
}

#error_msg_1{
	margin-left:10px;
	text-align:center;
}

@media screen and (max-width: 375px) {
  
  
body{
	width:375px;
}

   
}

@media screen and (max-width: 375px) {
  
  

  #child1{
  	width:375px;
  	padding:0px;


  }
  
   
}

@media screen and (max-width: 600px) {
  
  body{
  	background-image: none;
  	background-color: #e9e9e6;
  }
  
  
   
}